:root {
    --dark-mode: #141218;
    --light-mode: #ffffff;
    --primary: #5265BB;
    --primary-disable: #1D1B201F;
    --primary-disable-text: #1D1B20;
    --primary-dark: #D1D8F9;
    --primary-dark-text: #333F75;
    --white: #ffffff;
    --black: #000000;
    --gray-900: #111827;
    --disable-dark-border: #E6E0E9;
  }

  
  $dark-mode: #141218;
  $light-mode: #ffffff;
  $primary: #5265BB;
  $primary-disable: #1D1B201F;
  $primary-disable-text: #1D1B20;
  $primary-dark: #D1D8F9;
  $primary-dark-text: #333F75;
  $white: #ffffff;
  $black: #000000;
  $disable-dark-border: #E6E0E9;
  $gray-50: #f9fafb;
  $gray-100: #f3f4f6;
  $gray-200: #e5e7eb;
  $gray-300: #d1d5db;
  $gray-400: #9ca3af;
  $gray-500: #6b7280;
  $gray-600: #4b5563;
  $gray-700: #374151;
  $gray-800: #1f2937;
  $gray-900: #111827;