// SocialButton.module.scss
@use '@/styles/variables' as *;

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  min-height: 44px;
  padding: 12px 24px;
  border: 1px solid;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:focus-visible {
    outline: 2px solid $primary;
    outline-offset: 2px;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.light {
    background-color: $bg-secondary-light;
    border-color: $border-light;
    color: $text-primary-light;

    &:hover:not(:disabled) {
      background-color: $bg-hover-light;
      border-color: $border-hover-light;
    }

    &:active:not(:disabled) {
      background-color: $bg-active-light;
    }

    &:focus-visible {
      outline-color: $primary;
    }
  }

  &.dark {
    background-color: $bg-secondary-dark;
    border-color: $border-dark;
    color: $text-primary-dark;

    &:hover:not(:disabled) {
      background-color: $bg-hover-dark;
      border-color: $border-hover-dark;
    }

    &:active:not(:disabled) {
      background-color: $bg-active-dark;
    }

    &:focus-visible {
      outline-color: $primary-dark;
    }
  }

  &.apple {
    &.light {
      background-color: $black;
      border-color: $black;
      color: $white;

      &:hover:not(:disabled) {
        background-color: $gray-900;
        border-color: $gray-900;
      }

      &:active:not(:disabled) {
        background-color: $gray-800;
      }

      &:focus-visible {
        outline-color: $gray-700;
      }
    }

    &.dark {
      background-color: $white;
      border-color: $white;
      color: $black;

      &:hover:not(:disabled) {
        background-color: $gray-100;
        border-color: $gray-100;
      }

      &:active:not(:disabled) {
        background-color: $gray-200;
      }

      &:focus-visible {
        outline-color: $gray-300;
      }
    }

    .icon {
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.label {
  font-weight: 500;
  white-space: nowrap;
}